<template>
  <g transform="translate(21,15)">
    <rect
      x="0"
      y="0"
      :width="columnWidth"
      :height="2 * lineHeight"
      :fill="gray"
      stroke="black"
      stroke-width="1"
    />
    <text
      :x="columnWidth / 2"
      :y="lineHeight + 0.35 * 12"
      font-size="12"
      text-anchor="middle"
    >
      {{ monthText }}
    </text>
    <rect
      v-for="row in rows"
      :key="row"
      x="0"
      :y="(2 + row) * lineHeight"
      :width="columnWidth"
      :height="lineHeight"
      :fill="row % 2 ? gray : 'white'"
      stroke="black"
      stroke-width="1"
    />
  </g>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue'

export default defineComponent({
  props: {
    month: {
      type: Number,
      default: 1,
    },
  },
  setup(props) {
    const columnWidth = ref(45)
    const lineHeight = ref(15)
    const rows = ref([...Array(10).keys()])

    const gray = ref('#ececec')

    const monthText = computed(() => props.month.toFixed(0) + '月')

    return {
      columnWidth,
      lineHeight,
      rows,
      gray,
      monthText,
    }
  },
})
</script>

<style scoped></style>
