<template>
  <g transform="translate(66,15)" stroke-width="1">
    <g
      v-for="column in columns.filter(c => c % 7 < 6)"
      :key="column"
      :transform="'translate(' + column * side + ',0)'"
      :stroke="col.black"
    >
      <rect
        x="0"
        y="0"
        :width="side"
        :height="2 * side"
        :fill="column % 7 == 5 ? col.gray : col.lightgray"
      />
      <rect
        v-for="row in rows"
        :key="row"
        x="0"
        :y="(2 + row) * side"
        :height="side"
        :width="side"
        :fill="
          column % 7 == 5
            ? row % 2
              ? col.gray
              : col.lightgray
            : row % 2
            ? col.lightgray
            : col.white
        "
      />
    </g>
    <!-- sunday has to be rendered last to get the stroke drawn on top -->
    <g
      v-for="column in columns.filter(c => c % 7 == 6)"
      :key="column"
      :transform="'translate(' + column * side + ',0)'"
      :stroke="col.darkred"
    >
      <rect x="0" y="0" :width="side" :height="2 * side" :fill="col.red" />
      <rect
        v-for="row in rows"
        :key="row"
        x="0"
        :y="(2 + row) * side"
        :height="side"
        :width="side"
        :fill="row % 2 ? col.red : col.lightred"
      />
    </g>
  </g>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  setup() {
    const side = ref(15)
    const rows = ref([...Array(10).keys()])
    const variants = ref(['week', 'saturday', 'sunday'])
    const columns = ref([...Array(14).keys()])

    const col = ref({
      white: 'white',
      lightgray: '#ececec',
      gray: '#c6c6c6',
      lightred: '#f8f4f4',
      red: '#e2cece',
      darkred: '#800000',
      black: 'black',
    })

    return {
      side,
      rows,
      variants,
      columns,
      col,
    }
  },
})
</script>

// CSS styles in SVG are not rendered to PDF
<style scoped></style>
