<template>
  <g transform="translate(66,15)" id="text-container"></g>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, PropType, watch } from 'vue'
import { timeDay, timeDays } from 'd3-time'
import { select, selectAll } from 'd3-selection'
const d3 = { timeDay, timeDays, select, selectAll }

export default defineComponent({
  props: {
    startDay: {
      type: Object as PropType<Date>,
      required: true,
    },
    numDays: {
      type: Number,
      default: 14,
    },
  },
  setup(props) {
    const side = 15

    const sizeDay = 8
    const sizeKanji = 11

    interface DayData {
      index: number
      date: number
      name: string
    }

    const kanji = ['日', '月', '火', '水', '木', '金', '土']
    const days = computed(() => {
      const indices = [...Array(props.numDays).keys()]
      return indices.map(i => {
        const day = d3.timeDay.offset(props.startDay, i)
        return {
          index: i,
          date: day.getDate(),
          name: kanji[day.getDay()],
        } as DayData
      })
    })

    function updateText() {
      const dates = d3
        .select('#text-container')
        .selectAll('text.date')
        .data(days.value)

      dates
        .join('text')
        .attr('class', 'date')
        .attr('text-anchor', 'middle')
        .text((d: DayData) => d.date)
        .attr('font-size', sizeDay)
        .attr('y', side / 2 + 0.35 * sizeDay)
        .attr('x', -0.05 * sizeDay) // visually improves centering in pdf
        .attr(
          'transform',
          (d: DayData) => `translate(${d.index * side + side / 2},0)`
        )

      dates.exit().remove()

      const names = d3
        .select('#text-container')
        .selectAll('text.name')
        .data(days.value)

      names
        .join('text')
        .attr('class', 'name')
        .attr('text-anchor', 'middle')
        .text((d: DayData) => d.name)
        .attr('font-size', sizeKanji)
        .attr('y', side / 2 + side + 0.35 * sizeKanji)
        .attr(
          'transform',
          (d: DayData) => `translate(${d.index * side + side / 2},0)`
        )

      names.exit().remove()
    }

    onMounted(() => updateText())
    watch(
      () => props.startDay,
      () => updateText()
    )

    return {}
  },
})
</script>

<style scoped></style>
