<template>
  <div>
    <div class="container" id="svg-container" :hidden="!displaySvg">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 297 210"
        font-family="TakaoPGothic"
      >
        <ColumnMonth :month="displayedMonth" />
        <ColumnBackground />
        <DateLabels :startDay="startDay" />
      </svg>
    </div>
    <div class="container">
      <iframe id="pdf-iframe"></iframe>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, PropType, ref, watch } from 'vue'
import { jsPDF } from 'jspdf'
import 'svg2pdf.js'
import '../assets/TakaoPGothic-normal'

import ColumnMonth from '@/components/ColumnMonth.vue'
import ColumnBackground from '@/components/ColumnBackground.vue'
import DateLabels from '@/components/DateLabels.vue'

export default defineComponent({
  components: {
    ColumnMonth,
    ColumnBackground,
    DateLabels,
  },
  props: {
    startDay: {
      type: Object as PropType<Date>,
      required: true,
    },
  },
  setup(props) {
    async function updatePdf() {
      const svgElement = document?.getElementById('svg-container')
        ?.firstElementChild
      if (svgElement) {
        svgElement.getBoundingClientRect() // force layout calculation
        const width = 297
        const height = 210
        const pdf = new jsPDF('l', 'mm', [width, height])

        await pdf.svg(svgElement, { width, height })

        document
          ?.getElementById('pdf-iframe')
          ?.setAttribute('src', pdf.output('datauristring'))
      }
    }

    onMounted(() => updatePdf())
    watch(
      () => props.startDay,
      () => updatePdf()
    )

    const displayedMonth = computed(() => {
      const monthDate = new Date(props.startDay)
      monthDate.setDate(monthDate.getDate() + 6) // First sunday
      return monthDate.getMonth() + 1
    })

    const displaySvg = ref(false)

    return {
      displayedMonth,
      displaySvg,
    }
  },
})
</script>

<style scoped>
.container {
  /* border-style: solid;
  border-width: 3px;
  border-color: #2c3e50; */
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
iframe {
  width: 100%;
  min-height: 600px;
}
@font-face {
  font-family: 'TakaoPGothic';
  src: url('../assets/TakaoPGothic.ttf');
}
</style>
