<template>
  <div>
    <button class="button" @click="changeWeek(-1)">Poprzedni</button>
    <h3>
      Wybierz tydzień
      {{ weekDifference > 0 ? `(+${weekDifference})` : '' }}
      {{ !(weekDifference >= 0) ? ` (${weekDifference})` : '' }}
    </h3>
    <button class="button" @click="changeWeek(1)">Następny</button>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watchEffect } from 'vue'

export default defineComponent({
  props: {
    modelValue: {
      type: Number,
      required: true,
    },
  },
  setup(props, context) {
    const weekDifference = ref(props.modelValue)

    const weekStart = watchEffect(() => {
      context.emit('update:modelValue', weekDifference.value)
    })

    function changeWeek(delta: number): void {
      weekDifference.value += delta
    }

    return {
      weekDifference,
      weekStart,
      changeWeek,
    }
  },
})
</script>

<style scoped>
h3 {
  display: inline;
}
.button {
  background-color: #42b983; /* Green */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
}
</style>
