<template>
  <WeekSelector v-model="weekDelta" />
  <div class="spacer" />
  <SvgContainer :startDay="monday" />
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue'
import WeekSelector from '@/components/WeekSelector.vue'
import SvgContainer from '@/components/SvgContainer.vue'

export default defineComponent({
  name: 'App',
  components: {
    WeekSelector,
    SvgContainer,
  },
  setup() {
    const weekDelta = ref(0)

    const monday = computed(() => {
      const today = new Date()
      const weekDay = (today.getDay() - 1) % 7 // Monday is 0 here, Sunday 6
      today.setDate(today.getDate() - weekDay + 7 * weekDelta.value)
      return today
    })

    return {
      weekDelta,
      monday,
    }
  },
})
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.spacer {
  margin-top: 30px;
}
</style>
